workDir = '/*/work'

params {
    use_gpu = true // Set this to false if GPU usage is not required
}

executor {
    name = 'pbspro'
    queueSize = 20
}

process {
    withName: 'trinity_assembly' {
        container = '/*/singularity_trinity/trinityrnaseq.v2.15.2.simg'
    }
}
process.executor = 'local'
docker.enabled = false
singularity.enabled = true
